climate_environment_CDC_grids_germany_annual/
data_info/
output/
shp/
*.json
!web/package.json
!web/package-lock.json
!web/src/assets/germany_coverage.json
roadmap.txt
.ipynb_checkpoints/
.ipynb_checkpoints
web/node_modules/
**/__pycache__/
*.pyc
